<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <title>Création et authentification d'un compte</title>
</head>

<body>

    <div class="page">
        <header th:replace="~{fragments :: header(${connecte})}"></header>

        <div class="corps">

            <form method="post" action="authentification" class="authentification-contenu">
                <div>
                    <h1>Connexion</h1>
                    <p>
                        <i class="far fa-envelope"></i>
                        <input type="text" name="mail" class="login" placeholder="Email">
                    </p>
                    <p>
                        <i class="fas fa-unlock-alt"></i>
                        <input type="password" name="password" class="login" placeholder="Password">
                    </p>
                    <input type="submit" value="Connexion" class="login-submit">
                    <div class="error" th:text="${errMDP}"></div>
                    <div class="error" th:text="${errEmail}"></div>
                    <input type="hidden"  value="connexion" name="choix">
                </div>

            </form>

            <form method="post" action="authentification" class="authentification-contenu">
                <div class="container-authentification">
                    <h1>Cr&eacute;er votre compte</h1>

                    <p>
                        <i class="far fa-envelope"></i>
                        <input type="text" name="mail" class="login" placeholder="Email" >
                    </p>

                    <p>
                        <i class="far fa-user"></i>
                        <input type="text" name="prenom" id="prenom" placeholder="Pr&eacute;nom" class="login">
                    </p>
                    <p>
                        <i class="far fa-user"></i>
                        <input type="text" name="nom"  placeholder="Nom" class="login">
                    <p>
                        <i class="far fa-calendar-alt"></i>
                        <input type="date"  name="birth" value="aaaa-mm-dd" max="" placeholder="Date de naissance" class="login"/>
                    </p>
                    <p>
                        <i class="fas fa-unlock-alt"></i>
                        <input type="password" name="password" id="password" placeholder="Mot de passe" class="login">
                    </p>
                    <p>
                        <i class="fas fa-home"></i>
                        <input type="text" name="ville" id="ville" placeholder="Ville" class="login">
                    </p>
                    <p>
                        <i class="fas fa-home"></i>
                        <input type="text" name="adresse" id="adresse" placeholder="Adresse" class="login">
                    </p>
                    <p>
                        <i class="fas fa-home"></i>
                        <input type="text" name="codepostal" id="codepostal" placeholder="Code Postal" class="login">
                    </p>

                    <input type="submit" value="Créer" class="login-submit">

                    <input type="hidden" value="creer" name="choix">

                </div>
                </form>
        </div>

        <footer th:replace="~{fragments :: Footer}"></footer>

    </div>

</body>
</html>