<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Création et authentification d'un compte</title>
</head>

<body>

    <div class="page">
        <header th:replace="~{fragments :: header}"></header>

        <div class="corps">

            <form method="post" action="authentification" class="authentification-contenu">
                <h1>Connexion</h1>
                <p>
                    <label for="mail">Email</label>
                    <input type="text" name="username" id="mail">
                </p>
                <p>
                    <label for="password">Mot de passe</label>
                    <input type="password" name="password" id="password">
                </p>
                <p>
                    <input type="submit" value="Connexion">
                </p>
                <p>
                    <input type="hidden"  value="connexion" name="choix">
                </p>
            </form>

            <form method="post" action="authentification" class="authentification-contenu">
                <h1>Créer votre compte</h1>

                    <p>
                        <label for="nom">Nom</label>
                        <input type="text" name="nom" id="nom">
                        <label for="prenom">Prénom</label>
                        <input type="text" name="prenom" id="prenom">
                    </p>
                    <p>
                        <label for="birth">Date de naissance</label>
                        <input type="date" id="birth" name="birth"
                               value="aaaa-mm-dd"
                               min="1900-01-01" max="2018-12-31" />
                    </p>
                    <p>
                        <label for="mail">Adresse mail</label>
                        <input type="text" name="mail" id="mail">
                    </p>
                    <p>
                        <label for="password">Mot de passe</label>
                        <input type="password" name="password" id="password">
                    </p>
                    <p>
                        <label for="ville">Ville</label>
                        <input type="text" name="ville" id="ville">
                    </p>
                    <p>
                        <label for="adresse">Adresse</label>
                        <input type="text" name="adresse" id="adresse">
                        <label for="numeroderue">N° de rue</label>
                        <input type="text" name="numeroderue" id="numeroderue">
                    </p>
                    <p>
                        <label for="codepostal">Code postal</label>
                        <input type="text" name="codepostal" id="codepostal">
                    </p>
                    <p>
                        <input type="submit" value="Créer">
                    </p>
                    <p>
                        <input type="hidden" value="creer" name="choix">
                    </p>
                </form>
        </div>

        <footer th:replace="~{fragments :: Footer}"></footer>

    </div>

</body>
</html>