<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
    <Title>Chemises</Title>
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="js/javascript.js" type="application/javascript"></script>
</head>

<body>

    <div class="page">
        <header th:replace="~{fragments :: header(${connecte})}"></header>

        <div class="corps">

            <div th:each=" Chemise : ${chemise}" class="produit-informations" th:onmouseover="|Achat('${Chemise.getId()}')|"
                 th:onmouseout="|Cache('${Chemise.getId()}')|">

                <img th:src=" '/images/' + ${Chemise.getImage()}" onerror="this.src='/images/MannequinChemise.jpg';">

                <div th:text="${Chemise.getNameproduit()}" class="produit-nom"> </div>
                <div  class="produit-prix-couleur">
                    <div>
                        <span th:id="'span'+ ${Chemise.getId()}" th:style="'background-color :'+ ${Chemise.getHexcouleur()}"> &nbsp; </span>
                        <label th:text="${Chemise.getCouleur()}" class="produit-couleur"></label>
                    </div>
                    <div th:text="${Chemise.getPrix()}+ '$'"> </div>
                </div>
                <form th:id="'form'+ ${Chemise.getId()}" class="produit-achat" th:onmouseover="'javascript:Achat(\''+${Chemise.getId()}+'\');'">

                    <input type="number" name="idObj" th:value="${Chemise.getId()}">

                    <select name="taille" class="selection-taille">
                        <option th:if="${Chemise.getDispoS()>0}">S</option>
                        <option th:if="${Chemise.getDispoM()>0}">M</option>
                        <option th:if="${Chemise.getDispoL()>0}">L</option>
                    </select>

                    <input type="number" name="quantite" id="quantite" value="1" required>
                    <input type="submit" name="achat" value="+"/>
                </form>


            </div>

        </div>

        <footer th:replace="~{fragments :: Footer}"></footer>
    </div>

</body>
</html>