<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
    <Title>T-Shirts</Title>
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

    <script th:replace="~{fragments :: Script}"> </script>

    <div class="page">
        <header th:replace="~{fragments :: header(${connecte})}"></header>

        <div class="corps">

            <div th:each=" Chemise : ${chemise}" class="produit-informations" th:onmouseover="|Achat('${Chemise.getId()}')|"
                 th:onmouseout="|Cache('${Chemise.getId()}')|">

                <img src="images/MannequinChemise.jpg">

                <div th:text="${Chemise.getNameproduit()}" class="produit-nom"> </div>
                <div  class="produit-prix-couleur">
                    <div>
                        <span th:id="'span'+ ${Chemise.getId()}"> &nbsp; </span>
                        <label th:text="${Chemise.getCouleur()}" class="produit-couleur"></label>
                    </div>
                    <div th:text="${Chemise.getPrix()}+ '$'"> </div>
                </div>
                <form th:id="'form'+ ${Chemise.getId()}" class="produit-achat" th:onmouseover="'javascript:Achat(\''+${Chemise.getId()}+'\');'">
                    <input type="submit" name="achat" value="bientot disponible"/>
                </form>
            </div>

        </div>

        <footer th:replace="~{fragments :: Footer}"></footer>
    </div>

</body>
</html>