<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

    <head>
        <meta charset="UTF-8">
        <title>Fragments</title>
    </head>

    <body>

        <header th:fragment="Header(connecte)" class="header-navigation" >

            <div class="header-logo">
                <a href="home"><i class="fas fa-tshirt"></i><h1>B2G</h1></a>
            </div>

            <div class="header-menu">
                <a href="Tshirts">Tshirts</a>
                <a href="Pulls">Pulls</a>
                <a href="Chemises">Chemises</a>
                <a href="managerproduit" th:class="${connecte == 2} ? 'active' : 'inactive'">Produits</a>
                <a href="utilisateurs" th:class="${connecte == 2} ? 'active' : 'inactive'">Utilisateurs</a>
            </div>

            <div class="header-utilisateur">
                <a href="panier"><i class="fas fa-shopping-cart"> </i></a>
                <a href="authentification"><i class="fas fa-user"> </i></a>
                <a href="deconnexion" th:class="${connecte == 1 || connecte == 2} ?'active':'inactive'"><i class="fas fa-power-off"> </i></a>
            </div>
        </header>

        <footer th:fragment="Footer" class="footer-information">

            <div class="footer-reseaux">
                <h1>Retrouvez-nous sur les r&eacute;seaux</h1>
                    <div class="footer-reseaux-logo">
                        <a title="Facebook" href="https://www.facebook.com/" class="facebook"><i class="fab fa-facebook-square"></i></a>
                        <a title="Instagram" href="https://www.instagram.com/" class="instagram"><i class="fab fa-instagram"></i></a>
                        <a title="Twitter" href="https://www.twitter.com/" class="twitter"><i class="fab fa-twitter"></i></a>
                    </div>
            </div>
            <div class="footer-contact">
                <h1>Informations</h1>
                    <a title="A-propos" href="index.html">&Agrave; propos de TB2G</a>
                    <a title="responsabilite" href="index.html">Responsabilit&eacute;</a>
            </div>

        </footer>

    </body>

</html>