<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Fragments</title>
</head>

<body>

        <header th:fragment="Header" class="header-navigation" >

            <div class="header-logo">
                <a href=""><i class="fas fa-tshirt"></i><h1>B2G</h1></a>
            </div>

            <div class="header-menu">
                <div> <a href="">Tshirts</a> </div>
                <div> <a href="">Pulls</a> </div>
                <div> <a href="">Chemises</a> </div>
            </div>

            <div class="header-utilisateur">
                <i class="fas fa-shopping-cart"> </i>
                <i class="fas fa-user"> </i>
            </div>

        </header>

</body>
</html>