<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<html>
<head>
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <script src="js/javascript.js" type="application/javascript"></script>
    <title>Produit Manager</title>
</head>
<body>



    <div class="page">

        <header th:replace="~{fragments :: header(${connecte})}"></header>

        <div class="corps">

            <div class="container-produitmanager">
            <form method="post" enctype="multipart/form-data">
                <h1>Ajout d'un produit</h1>
                <table>
                    <thead>
                    <tr>
                        <th>Nom du produit</th>
                        <th>Dispo en S</th>
                        <th>Dispo en M</th>
                        <th>Dispo en L</th>
                        <th>Prix</th>
                        <th>Cat</th>
                        <th>Couleur</th>
                        <th>HexColor</th>
                        <th>Image</th>
                    </tr>
                    </thead>

                    <tbody>
                    <tr class="ajout-produit">
                        <th><input type="text" name="produit" id="produit" required></th>
                        <th><input type="number" name="dispoS" id="dispoS" value="1" required></th>
                        <th><input type="number" name="dispoM" id="dispoM" value="1" required></th>
                        <th><input type="number" name="dispoL" id="dispoL" value="1" required></th>
                        <th><input type="number" name="prix" step="0.01" value="9.99" id="prixL" required></th>
                        <th><input type="number" name="cat" id="cat" value="1" required></th>
                        <th><input type="text" name="couleur" id="couleur" value="Rouge" required></th>
                        <th><label for="hexcouleur" class="input-file"><i class="fas fa-palette"></i></label><input type="color" name="hexcouleur" id="hexcouleur" value="#e7504e" class="inactive" required></th>
                        <th><label for="image" class="input-file"><i class="far fa-file-image"></i></label><input type="file" name="image" id="image" class="inactive"></th>
                    </tr>

                    </tbody>
                </table>
                <input type="hidden" name="action" value="ajout">
                <input type="submit" value="Ajouter" class="produitmanager-ajout" id="ajout">
                <div class="error" th:text="${errAjout}"></div>
                <div class="success" th:text="${messageAjout}"></div>

            </form>
            </div>

            <div class="container-produitmanager">
            <form method="post">

                <h1>Index des produits</h1>

                <!--<div class="error" th:text="${errModif}"></div>
                <div class="success" th:text="${messageModif}"></div>
                <div class="error" th:text="${errDelete}"></div>
                <div class="success" th:text="${messageDelete}"></div>-->

                <table>

                    <thead>
                    <tr>
                        <th>#ID</th>
                        <th>Nom du produit</th>
                        <th>Dispo en S</th>
                        <th>Dispo en M</th>
                        <th>Dispo en L</th>
                        <th>Prix</th>
                        <th>Cat</th>
                        <th>Couleur</th>
                        <th>HexColor</th>
                        <th>Image</th>
                        <th></th>
                        <th></th>
                    </tr>
                    </thead>

                    <th:block  th:each=" Produit : ${produit}">

                        <tr>
                            <td th:text="${Produit.getId()}"></td>
                            <td th:text="${Produit.getNameproduit()}"></td>
                            <td th:text="${Produit.getDispoS()}"></td>
                            <td th:text="${Produit.getDispoM()}"></td>
                            <td th:text="${Produit.getDispoL()}"></td>
                            <td th:text="${Produit.getPrix()}"></td>
                            <td th:text="${Produit.getCat()}"></td>
                            <td th:text="${Produit.getCouleur()}"></td>
                            <td th:text="${Produit.getHexcouleur()}"></td>
                            <td th:text="${Produit.getImage()}"></td>
                            <td th:onclick="|Modif('${Produit.getId()}')|" th:id="'td'+${Produit.getId()}" class="td-fleche-modif"><i th:id="'i'+${Produit.getId()}" class="far fa-arrow-alt-circle-down"></i></td>
                        </tr>

                        <tr class="modification-produit" th:id="'tr'+${Produit.getId()}">
                            <form method="post">
                                <td><input type="hidden" name="produitId1" th:value="${Produit.getId()}" th:id="'produit'+${Produit.getId()}"></td>
                                <td><input  type="text" name="produit1" id="produit1"></td>
                                <td><input  type="number" name="dispoS1" id="dispoS1"></td>
                                <td><input  type="number" name="dispoM1" id="dispoM1"></td>
                                <td><input  type="number" name="dispoL1" id="dispoL1"></td>
                                <td><input  type="number" step="0.01" name="prix1" id="prixL1"></td>
                                <td><input  type="number" name="cat1" id="cat1"d></td>
                                <td><input  type="text" name="couleur1" id="couleur1"></td>
                                <td><label for="hexcouleur1" class="input-file"><i class="fas fa-palette"></i></label><input type="color" value="#000001" name="hexcouleur1" id="hexcouleur1" class="inactive"></td>
                                <td><label for="image" class="input-file"><i class="far fa-file-image"></i></label><input type="file" name="image1" id="image1" class="inactive"></td>
                                <td><label for="produitManagerModif"><i class="fas fa-arrow-circle-right"></i></label><input type="submit" value="modifier" id="produitManagerModif" class="inactive"></td>
                                <input type="hidden" name="action" value="modif">
                            </form>

                            <form>
                                <td><label for="produitManagerDelete"><i class="fas fa-trash"></i></label><input id="produitManagerDelete" type="submit" value="delete" class="inactive"></td>
                                <input type="hidden" name="produitId2" th:value="${Produit.getId()}" th:id="'produitDel'+${Produit.getId()}">
                                <input type="hidden" name="action" value="delete">
                            </form>

                        </tr>
                    </th:block>

                </table>
            </form>
            </div>
        </div>

        <footer th:replace="~{fragments :: Footer}"></footer>

    </div>

</body>
</html>