<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<html>
<head>
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Produit Manager</title>
</head>
<body>

    <script>
        function Modif (ProductId){
            var Id = ProductId;
            document.getElementById("tr"+Id).style.visibility="visible";
        }

        function Cache(ProductId){
            var Id = ProductId;
            document.getElementById("tr"+Id).style.visibility="hidden";
        }

    </script>

    <div class="page">

        <header th:replace="~{fragments :: header}"></header>

        <div class="corps">

            <div class="container-produitmanager">
            <form method="post">
                <h1>Ajout d'un produit</h1>
                <table border="1px solid black" width="inherit">
                    <thead>
                    <tr>
                        <th>#ID</th>
                        <th>Nom du produit</th>
                        <th>Dispo en S</th>
                        <th>Dispo en M</th>
                        <th>Dispo en L</th>
                        <th>Prix</th>
                        <th>Cat</th>
                        <th>Couleur</th>
                        <th>HexColor</th>
                        <th>Image</th>
                    </tr>
                    </thead>

                    <tbody>
                    <tr>
                        <th>AUTOINC</th>
                        <th><input type="text" name="produit" id="produit"></th>
                        <th><input type="text" name="dispoS" id="dispoS"></th>
                        <th><input type="text" name="dispoM" id="dispoM"></th>
                        <th><input type="text" name="dispoL" id="dispoL"></th>
                        <th><input type="text" name="prix" id="prixL"></th>
                        <th><input type="text" name="cat" id="cat"></th>
                        <th><input type="text" name="couleur" id="couleur"></th>
                        <th><input type="color" name="hexcouleur" id="hexcouleur"></th>
                        <th><input type="file" name="image" id="image"></th>
                    </tr>

                    </tbody>
                </table>

                <input type="submit" value="Ajouter" class="produitmanager-ajout">

            </form>
            </div>

            <div class="container-produitmanager">
            <form method="post">

                <h1>Index des produits</h1>

                <table th:each=" Produit : ${produit}" border="1px solid black" width="inherit" margin-bottom="0.5vw">

                    <tr  th:onclick="|Modif('${Produit.getId()}')|">
                        <td th:text="${Produit.getId()}"></td>
                        <td th:text="${Produit.getNameproduit()}"></td>
                        <td th:text="${Produit.getDispoS()}"></td>
                        <td th:text="${Produit.getDispoM()}"></td>
                        <td th:text="${Produit.getDispoL()}"></td>
                        <td th:text="${Produit.getPrix()}"></td>
                        <td th:text="${Produit.getCat()}"></td>
                        <td th:text="${Produit.getCouleur()}"></td>
                        <td th:text="${Produit.getHexcouleur()}"></td>
                        <td th:text="${Produit.getImage()}"></td>
                    </tr>

                    <tr class="modification-produit" th:id="'tr'+${Produit.getId()}">
                        <td>AUTOINC</td>
                        <td><input type="text"></td>
                        <td><input type="text"></td>
                        <td><input type="text"></td>
                        <td><input type="text"></td>
                        <td><input type="text"></td>
                        <td><input type="text"></td>
                        <td><input type="text"></td>
                        <td><input type="text"></td>
                        <td rowspan="2"><input type="submit" value="Modifier" class="produitmanager-ajout"> </td>

                    </tr>

                </table>
            </form>
            </div>
        </div>

        <footer th:replace="~{fragments :: Footer}"></footer>

    </div>

</body>
</html>