<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <script src="js/javascript.js" type="application/javascript"></script>
    <script src="js/managerproduit.js" type="application/javascript"></script>
    <title>Produit Manager</title>
</head>

<body>

    <div class="page">

        <header th:replace="~{fragments :: header(${connecte})}"></header>

        <div class="corps">

            <div class="container-produitmanager">
            <form method="post" enctype="multipart/form-data">
                <h1>Ajout d'un produit</h1>
                <table>
                    <thead>
                    <tr>
                        <th>Nom du produit</th>
                        <th>Dispo en S</th>
                        <th>Dispo en M</th>
                        <th>Dispo en L</th>
                        <th>Prix</th>
                        <th>Cat</th>
                        <th>Couleur</th>
                        <th>HexColor</th>
                        <th>Image</th>
                    </tr>
                    </thead>

                    <tbody>
                    <tr class="ajout-produit">
                        <th><input type="text" name="produit" id="produit" required></th>
                        <th><input type="number" name="dispoS" id="dispoS" value="1" required></th>
                        <th><input type="number" name="dispoM" id="dispoM" value="1" required></th>
                        <th><input type="number" name="dispoL" id="dispoL" value="1" required></th>
                        <th><input type="number" name="prix" step="0.01" value="9.99" id="prixL" required></th>
                        <th><input type="number" name="cat" id="cat" value="1" required></th>
                        <th><input type="text" name="couleur" id="couleur" value="Rouge" required></th>
                        <th><label for="hexcouleur" class="input-file"><i id="icone-hexcouleur" class="fas fa-palette"></i></label><input type="color" name="hexcouleur" id="hexcouleur" value="#e7504e" class="inactive" onchange="InputCouleur()" required></th>
                        <th><label for="image" class="input-file"><i id="icone-image" class="far fa-file-image"></i></label><input type="file" name="image" id="image" class="inactive" onchange="InputImage()"></th>
                    </tr>

                    </tbody>
                </table>
                <input type="hidden" name="action" value="ajout">
                <input type="submit" value="Ajouter" class="produitmanager-ajout" id="ajout">
                <div class="error" th:text="${errAjout}"></div>
                <div class="success" th:text="${messageAjout}"></div>

            </form>
            </div>

            <div class="container-produitmanager">
            <form method="post"enctype="multipart/form-data">

                <h1>Index des produits</h1>

                <table id="table-modif">

                    <thead>
                    <tr>
                        <th>#ID</th>
                        <th>Nom du produit</th>
                        <th>Dispo en S</th>
                        <th>Dispo en M</th>
                        <th>Dispo en L</th>
                        <th>Prix</th>
                        <th>Cat</th>
                        <th>Couleur</th>
                        <th>HexColor</th>
                        <th>Image</th>
                    </tr>
                    </thead>

                    <th:block  th:each=" Produit : ${produit}">

                        <tr th:id="'tr'+${Produit.getId()}">
                            <td th:text="${Produit.getId()}"></td>
                            <td th:text="${Produit.getNameproduit()}" th:id="'xproduit'+${Produit.getId()}"></td>
                            <td th:text="${Produit.getDispoS()}" th:id="'xdispoS'+${Produit.getId()}"></td>
                            <td th:text="${Produit.getDispoM()}" th:id="'xdispoM'+${Produit.getId()}"></td>
                            <td th:text="${Produit.getDispoL()}" th:id="'xdispoL'+${Produit.getId()}"></td>
                            <td th:text="${Produit.getPrix()}" th:id="'xprix'+${Produit.getId()}"></td>
                            <td th:text="${Produit.getCat()}" th:id="'xcat'+${Produit.getId()}"></td>
                            <td th:text="${Produit.getCouleur()}" th:id="'xcouleur'+${Produit.getId()}"></td>
                            <td th:text="${Produit.getHexcouleur()}" th:id="'xhexcouleur'+${Produit.getId()}"></td>
                            <td th:text="${Produit.getImage()}" th:id="'ximage'+${Produit.getId()}"></td>
                            <td colspan="2" th:onclick="|Modif('${Produit.getId()}')|" th:id="'td'+${Produit.getId()}" class="td-fleche-modif"><i th:id="'i'+${Produit.getId()}" class="fas fa-edit"></i></td>
                        </tr>

                        <tr class="modification-produit" th:id="'trmodif'+${Produit.getId()}">

                            <td></td>
                            <td><input type="text" name="produit1" th:id="'produit'+${Produit.getId()}"></td>
                            <td><input type="number" name="dispoS1" th:id="'dispoS'+${Produit.getId()}"></td>
                            <td><input type="number" name="dispoM1" th:id="'dispoM'+${Produit.getId()}"></td>
                            <td><input type="number" name="dispoL1" th:id="'dispoL'+${Produit.getId()}"></td>
                            <td><input type="number" step="0.01" name="prix1" th:id="'prix'+${Produit.getId()}"></td>
                            <td><input type="number" name="cat1" th:id="'cat'+${Produit.getId()}"></td>
                            <td><input type="text" name="couleur1" th:id="'couleur'+${Produit.getId()}"></td>
                            <td><label th:for="'hexcouleur'+${Produit.getId()}" class="input-file"><i th:id="'icone-hexcouleur'+${Produit.getId()}" class="fas fa-palette"></i></label><input th:onchange="|ModifHexColor(${Produit.getId()})|" type="color"  name="hexcouleur1" th:id="'hexcouleur'+${Produit.getId()}" class="inactive"></td>
                            <td><label th:for="'image'+${Produit.getId()}" class="input-file"><i th:id="'icone-image'+${Produit.getId()}" class="far fa-file-image"></i></label><input th:onchange="|ModifImage(${Produit.getId()})|" type="file" name="image1" th:id="'image'+${Produit.getId()}" class="inactive"></td>
                            <td th:onclick="'modifProduit('+${Produit.getId()}+')'" class="icone-validation-modification"><i class="fas fa-arrow-circle-right"></i></td>
                            <td th:onclick="'deleteProduit('+${Produit.getId()}+')'" class="icone-validation-supprimer"><i class="fas fa-trash"></i></td>

                        </tr>

                    </th:block>

                </table>
            </form>
            </div>
        </div>

        <footer th:replace="~{fragments :: Footer}"></footer>

    </div>

</body>
</html>