<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Panier</title>
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">

</head>

<body>

<div class="page">
    <header th:replace="~{fragments :: header(${connecte})}"></header>

    <div class="corps">


        <div th:class="${connecte==0} ?'active':'inactive'">
            <div class="produit-informations">
                <h1>Il faut &ecirc;tre connecter pour avoir acc&egrave;s &agrave; votre panier</h1>
                <div>
                    <h2><a href="authentification"><i class="fas fa-user"></i> Vous pouvez vous connecter en cliquant ici</a></h2>
                </div>
            </div>

        </div>

        <div th:class="${connecte==1} ?'active':'inactive'">
            <table>

                <thead>
                <tr>
                    <th>Nom du produit</th>
                    <th>Taille</th>
                    <th>Quantite</th>
                    <th>Prix</th>
                    <th>Image</th>
                </tr>
                </thead>

                <th:block  th:each=" ProduitPan : ${panierList}">

                    <tr>
                        <td th:text="${ProduitPan.getProduit().getNameproduit()}"></td>
                        <td th:text="${ProduitPan.getTaille()}"></td>
                        <td th:text="${ProduitPan.getQuantite()}"></td>
                        <td th:text="${ProduitPan.getProduit().getPrix()}"></td>
                        <td> <img th:src=" '/images/' + ${ProduitPan.getProduit().getImage()}" class="imagePanier"> </td>
                    </tr>
                </th:block>

                <div>TOTAL</div>


            </table>
        </div>

    </div>

    <footer th:replace="~{fragments :: Footer}"></footer>
</div>

</body>
</html>