<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profil</title>
</head>
<body>

    <div class="page">

        <header th:replace="~{fragments :: header(${connecte})}"></header>

        <div id="corps">

            <h1 th:text="${utilisateurCourant.getPrenom()}+${utilisateurCourant.getPrenom()}"></h1>
            <div>
                <label th:text="Votre adresse email + ' : ' + ${utilisateurCourant.getEmail()}"></label>
                <label th:text="Votre adresse est + ' : ' + ${utilisateurCourant.getAdresseliv()}"></label>
            </div>

        </div>

    </div>

    <footer th:replace="~{fragments :: Footer}"></footer>

</body>
</html>