<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="js/javascript.js" type="application/javascript"></script>
    <title>profil</title>
</head>

<body>

    <div class="page">

        <header th:replace="~{fragments :: header(${connecte})}"></header>

        <div class="corps">

            <div class="profil-container">
                <h1 th:text="'Bonjour, '+${utilisateurCourant.getPrenom()}+' '+${utilisateurCourant.getNom()}"></h1>

                <h2 th:if="${connecte==2}">Vous êtes administrateur</h2>

                <div class="flex">
                    <form method="POST" action="profil" class="form-profil">

                        <div ><i class="far fa-envelope"></i><label th:text="' '+${utilisateurCourant.getEmail()}"></label></div>
                        <h3>Modifier votre email : </h3>
                        <input type="text" class="login" id="profilnewEmail" name="newemail" placeholder="Nouveau email" onblur="verificationEmail('profilnewEmail')" required>
                        <br>
                        <input type="submit" value="modifier" class="profil-modifmdp">
                        <br>
                        <input type="hidden" name="choix" value="email">
                        <label class="error" th:text="${errChampEmail}"></label>
                        <label class="success" th:text="${successEmail}"></label>
                    </form>

                    <div class="separation-profil"></div>

                    <form method="POST" action="profil" class="form-profil">
                        <div ><i class="fas fa-home"></i><label th:text="' '+${utilisateurCourant.getAdresseliv()}"></label></div>
                        <h3>Modifier votre adresse: </h3>
                        <input type="text" class="login" name="newadresse" placeholder="Nouvelle adresse" required>
                        <br>
                        <input type="submit" value="modifier" class="profil-modifmdp">
                        <br>
                        <input type="hidden" name="choix" value="adresse">
                        <label class="error" th:text="${errChampAdresse}"></label>
                        <label class="success" th:text="${successAdresse}"></label>
                    </form>

                    <div class="separation-profil"></div>

                    <form method="POST" action="profil" class="form-profil" onsubmit="VerificationMdp()">
                        <h3>Modifier votre mot de passe : </h3>
                        <i class="fas fa-unlock-alt"></i>
                        <input type="password" class="login" name="newmdp" placeholder="Nouveau mot de passe" id="profil-mdp1" required>
                        <br>
                        <i class="fas fa-unlock-alt"></i>
                        <input type="password" class="login" id="profil-mdp2" placeholder="Confirmation" required>
                        <br>
                        <input type="submit" value="modifier" class="profil-modifmdp">
                        <br>
                        <input type="hidden" name="choix" value="mdp">
                        <label class="error" th:text="${errChampMdp}"></label>
                        <label class="success" th:text="${successMdp}"></label>
                    </form>
                </div>

            </div>
        </div>

        <footer th:replace="~{fragments :: Footer}"></footer>

    </div>


</body>
</html>