<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
    <Title>T-Shirts</Title>
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="js/javascript.js" type="application/javascript"></script>
</head>

<body>

    <div class="page">
        <header th:replace="~{fragments :: header(${connecte})}"></header>

        <div class="corps">

                <div th:each=" Tshirt : ${tshirt}" class="produit-informations" th:onmouseover="|Achat('${Tshirt.getId()}')|"
                th:onmouseout="|Cache('${Tshirt.getId()}')|">

                    <img src="images/MannequinTshirt.jpg">
                    <div th:text="${Tshirt.getNameproduit()}" class="produit-nom"> </div>
                    <div  class="produit-prix-couleur">
                        <div>
                            <span th:id="'span'+ ${Tshirt.getId()}" th:style="'background-color :'+ ${Tshirt.getHexcouleur()}"> &nbsp; </span>
                            <label th:text="${Tshirt.getCouleur()}" class="produit-couleur"></label>
                        </div>
                        <div th:text="${Tshirt.getPrix()}+ '$'"> </div>
                    </div>
                    <form th:id="'form'+ ${Tshirt.getId()}" class="produit-achat">
                        <input type="submit" name="achat" value="bientot disponible"/>
                    </form>
                </div>

        </div>

        <footer th:replace="~{fragments :: Footer}"></footer>
    </div>

</body>
</html>