@font-face {
    font-family: "ArchivoRegular";
    src: url("/fonts/Archivo-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "ArchivoMedium";
    src: url("/fonts/Archivo-Medium.ttf") format("truetype");
}

/*BODY*/

html, body{
    margin:0;
    height: 100%;
    font-family: ArchivoRegular;
}

h1{
    font-family: ArchivoMedium;
}

img{
    width: 100%;
}

div.page  {
    position :relative;
    min-height: 100%;
    background-color: #004d66;
}
/*HEADER*/

header.header-navigation {
    display: flex;
    background-color: #004d66;
    width: 100%;
}

div.header-logo {
    text-align: center;
    width: 20%;
}

div.header-logo a{
    display: flex;
    text-decoration: none;
    align-items: center;
    padding-left: 10%;
    color: white;
    font-size: 1.5vw;
}

div.header-logo i{
    color: white;
    font-size: 2.5vw;
    vertical-align: baseline;
}

div.header-menu{
    display: flex;
    align-items: center;
    width: 65%;
}

div.header-menu a{
    text-decoration: none;
    color: inherit;
}

div.header-menu div {
    font-size: 1.5vw;
    color: white;
    padding: 2%;
    text-align: center;
}

div.header-menu div:hover {
    color: black;
    background-color: white;
    border-radius: 1.5em;

    transition: all 0.5s;
}

div.header-utilisateur {
    width: 15%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 5%;

}

div.header-utilisateur i{
    color: white;
    font-size: 3vw;
    padding:10%;
}

div.header-utilisateur i:hover{
    color: black;
    background-color: white;
    border-radius: 1em;

    transition: all 0.5s;
}


/*FOOTER*/

footer {
    border-top: solid #A7D4E0 2em;
    background-color: #c6d7ef;
    display: flex;
    justify-content: space-around;
    bottom: 0;
}

footer h1{
    font-size: 1.1em;
    font-weight: bolder;
    margin: 0;
    padding: 0.7em 0;
}

footer a {
    color: black;
    text-decoration: none;
    display: block;
    padding: 0.4em 0;
}

.facebook {
    color: #3b5998;
    font-family: ArchivoRegular;
}

.instagram {
    color: #8a3ab9;
    font-family: ArchivoRegular;
}