@font-face {
    font-family: "ArchivoRegular";
    src: url("/fonts/Archivo-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "ArchivoMedium";
    src: url("/fonts/Archivo-Medium.ttf") format("truetype");
}

/*BODY*/

html, body{
    margin:0;
    height: 100%;
    font-family: "ArchivoRegular";
}

h1{
    font-family: "ArchivoMedium";
}

img{
    width: 100%;
    margin: 0;
}

div.img-index{
    width: 100%;
    background-color: white;
    padding: 0;
}

div.page  {
    position :relative;
    min-height: 100%;
    background-color: #004d66;
}
/*HEADER*/

header.header-navigation {
    display: flex;
    background-color: #004d66;
    width: 100%;
    border-bottom: 0.3vw solid white;
}

div.header-logo {
    text-align: center;
    width: 20%;
}

div.header-logo a{
    display: flex;
    text-decoration: none;
    align-items: center;
    padding-left: 10%;
    color: white;
    font-size: 1.5vw;
}

div.header-logo i{
    color: white;
    font-size: 2.5vw;
    vertical-align: baseline;
}

div.header-menu{
    display: flex;
    align-items: center;
    width: 65%;
}


div.header-menu a {
    font-size: 1.5vw;
    color: white;
    padding: 2%;
    text-decoration: none;
    text-align: center;
}

div.header-menu a:hover {
    color: black;
    background-color: white;
    border-radius: 1.5em;

    transition: all 0.5s;
}

div.header-utilisateur {
    width: 15%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 5%;

}

div.header-utilisateur a{
    color: white;
    font-size: 3vw;
    padding:10%;
}

div.header-utilisateur a:hover{
    color: black;
    background-color: white;
    border-radius: 1em;

    transition: all 0.5s;
}

div.corps{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: #f2f2f2;
    padding-left:3%;
    padding-right:3%;
}

div.corps-noflex{
    padding: 1%;
    background-color: #f2f2f2;
}

.active {
    display: block;
}

.inactive {
    display: none;
}

/* PRODUIT */

div.produit-nom{
    font-family: "ArchivoMedium";
}

.selection-taille{
    width: 25%;
}

.produit-informations{
    background-color: white;
    padding: 1%;
    margin: 5% 0;
    text-align: center;
    font-size: 1vw;
    text-decoration-color: black;
}

.produit-informations img{
    width: 15vw;
    height: auto;
}

.produit-prix-couleur{
    display: flex;
    justify-content: space-evenly;
    padding-top: 4%;
}

.produit-prix-couleur div{
    display: flex;
}

.produit-couleur{
    padding-left:0.6vw;
}

.produit-prix-couleur span {
    height: 1vw;
    width: 1vw;
    border: 1px solid black;
}

form.produit-achat {
    visibility: hidden;
    background-color:#18cd66;
    font-size: 1vw;
    margin-top: 1vw;
    margin-left: 1vw;
    margin-right: 1vw;
    display: flex;
}

form.produit-achat input {
    background-color: #18cd66;
    color: white;
    font-size: 1vw;
    font-family: "ArchivoMedium";
    width: 100%;
    border: none;
    padding: 0.5vw;
}

form.produit-achat input:hover {
    cursor: pointer;
}

/*AUTHENTIFICATION */

.authentification-contenu{
     padding: 1%;
     margin: 5%;
     font-size: 1vw;
     text-decoration-color: black;
     display: flex;
     width: 70%;
    opacity: 1;
     align-items: center;
    animation: AnimationGrand 2s;
}

.creation-contenu{
    padding: 1%;
    margin: 5%;
    font-size: 1vw;
    text-decoration-color: black;
    width: 2%;
    display: flex;
    opacity: 0;
    align-items: center;
    animation: AnimationPetit 2s;
}

.container-authentification{
    background-color: white;
    width: 40%;
    margin: auto;
    display: flex;
    height: 30vw;
}

.separation-authentification{
    height: 100%;
    width: 1%;
    background-color: #004d66;
    transform: rotate(5deg);
}

.sous-container-authentification{
    background-color: white;
    text-align: center;
    border-top: 0.2vw solid #004d66;
    margin: auto;
    width: 40%;
}

.sous-container-authentification button{
    margin: 0;
    text-align: center;
    border: none;
    background-color: white;
    color: #004d66;
    width: 49.6%;
    padding: 0.2vw;
    font-size: 1.5vw;
}

.sous-container-authentification button:hover{
    background-color: #004d66;
    color: white;
    cursor: pointer;
}

.error {
    color: darkred;
    background-color: #f2f2f2;
    text-align: center;
    border-radius: 1em;
    margin-top: 0.5vw;
}

.success {
    color: darkgreen;
    background-color: #f2f2f2;
    text-align: center;
    border-radius: 1em;
    margin-top: 0.5vw;
}

.authentification-contenu input{
     width: 10vw;
     height: 1.5vw;
 }

.login{
    border: 0;
    border-bottom: 1px solid #004d66;
}

.login-submit{
    border: 1px solid #004d66;
    border-radius: 1.5em;
    color: #004d66;
    background-color: white;
}

.login-submit:hover{
    color: white;
    background-color: #004d66;
    cursor: pointer;
}

/*FOOTER*/

footer {
    border-top: 0.3vw solid white;
    background-color: #004d66;
    display: flex;
    justify-content: space-around;
    bottom: 0;
}

footer h1{
    color: white;
    font-size: 1.5vw;
    font-family: "ArchivoMedium";
    margin: 0;
    padding: 2% 0;
}

footer a {
    color: white;
    text-decoration: none;
    display: block;
    padding: 2% 0;
}

div.footer-reseaux-logo {
    display: flex;
    justify-content: space-evenly;
}

.facebook {
    color: #3b5998;
    font-size: 3vw;
}

.instagram {
    color: #8a3ab9;
    font-size: 3vw;
}

.twitter{
    font-size: 3vw;
    color: #00aced;
}

div.footer-contact a{
    font-size: 1.5vw;
}


div.footer-contact a{
    font-size: 1.5vw;
}


/*PANIER */
.soon{
    padding: 3vw;
    margin: 3vw;
    text-align: center;
    align-items: center;
    background-color: #18cd66;
    color: white;
}

.imagePanier {
    max-width: 8vw;
    max-height: 10vw;
}

/* MANAGER PRODUIT */
.input-file{
    color: black;
    cursor: pointer;
}

.input-file i{
    font-size: 1.5vw;
}

.modification-produit {
    display: none;
}

.modification-produit td{
    width: 7vw;
    height: 1vw;
}

.modification-produit i{
    font-size: 1vw;
}

.container-produitmanager {
    font-size: 1vw;
    width: 100%;
    padding: 0.5vw;
    background-color:white;
    text-align: center;
    border-radius: 1em;
    margin: 0.5vw;
}

.container-produitmanager table{
    margin: auto;
    border: 1px solid black;
    width: 95%;
}

.ajout-produit input{
    width: 9vw;
    height: 1.5vw;
    margin-top: 1vw;
}

.container-produitmanager td{
    border-bottom: 1px dotted darkgray;
    border-right: 1px dotted darkgray;
}


.produitmanager-ajout {
    background-color: #18cd66;
    color: white;
    text-align: center;
    padding: 0.3vw;
    border: none;
    font-size: 1vw;
    cursor: pointer;

}
 
.td-fleche-modif{
    cursor: pointer;
    text-align: right;;
}

#ajout{
    margin: 0.3vw;
}

/* PROFIL */

.profil-container{
    background-color: white;
    border-radius: 1em;
    padding:0.3vw;
    margin: 1vw;
    text-align: center;
    font-size: 1.5vw;
}

.profil-container div{
    margin-bottom: 0.2vw;
}

/* ANIMATION */

@keyframes AnimationGrand {
    0%{
        width: 2%;
        opacity: 0;
    }
    50%{
        opacity: 0;
    }
    100%{
        width: 70%;
        opacity: 1;
    }

}
@keyframes AnimationPetit {
    0%{
        width: 70%;
        opacity: 1;
    }
    10%{
        opacity: 0;
    }
    100%{
        width: 2%;
        opacity: 0;
    }
}


